<div class="container">
    <h3 align="center" style="color: antiquewhite;">Upto date Bill</h3><hr>
    <table class="table table-dark table-striped">
       <thead class="thead-light">
          <tr>
             <th scope="col">ID</th>
             <th scope="col">Food Name</th>
             <th scope="col">Qty</th>
             <th scope="col">Price</th>
          </tr>
       </thead>
       <tbody>
       <tr *ngFor='let item of item'>
             <td>{{item.id}}</td>
             <td>{{item.name}}</td>
             <td>{{item.quality}}</td>
             <td>{{item.price}}</td>
       </tr>
      </tbody>
 </table>
 </div>